/one/*.exe
/one/one_question/*.exe
/two/*.exe
/two/two_question/*.exe
/three/*.exe
/three/three_question/*.exe
/four/*.exe
/four/four_question/*.exe
/five/*.exe
/five/*.txt
/five/five_question/*.exe
/five/five_question/*.txt
/six/*.exe
/six/six_question/*.exe
/seven/*.exe
/seven/seven_question/*.exe
/eight/*.exe
/eight/external/*.exe
/eight/internal/*.exe
/eight/namespace/*.exe
/eight/coordin/*.exe
/eight/eight_question/*.exe
/eight/eight_question/one/*.exe
/eight/eight_question/four/*.exe