/one/*.exe
/one/one_question/*.exe
/two/*.exe
/two/two_question/*.exe
/three/*.exe
/three/three_question/*.exe
/four/*.exe
/four/four_question/*.exe
/five/*.exe
/five/*.txt
/five/five_question/*.exe
/five/five_question/*.txt
/six/*.exe
/six/six_question/*.exe
/seven/*.exe
/seven/seven_question/*.exe
/eight/*.exe
/eight/external/*.exe
/eight/internal/*.exe
/eight/namespace/*.exe
/eight/coordin/*.exe
/eight/eight_question/*.exe
/eight/eight_question/one/*.exe
/eight/eight_question/four/*.exe
/nine/stack/*.exe
/nine/stock/*.exe
/nine/stock10/*.exe
/nine/stock20/*.exe
/nine/nine_question/one/*.exe
/nine/nine_question/two/*.exe
/nine/nine_question/three/*.exe
/nine/nine_question/four/*.exe
/nine/nine_question/five/*.exe
/nine/nine_question/six/*.exe
/nine/nine_question/seven/*.exe
/nine/nine_question/eight/*.exe
/ten/vect/*.exe
/ten/mytime0/*.exe
/ten/mytime1/*.exe
/ten/mytime2/*.exe
/ten/mytime3/*.exe
/ten/stonewt/*.exe
/ten/stonewt1/*.exe
/ten/ten_question/one/*.exe
/ten/ten_question/one/*.txt
/ten/ten_question/two/*.exe
/ten/ten_question/two/*.txt
/ten/ten_question/three/*.exe
/ten/ten_question/four/*.exe
/ten/ten_question/five/*.exe
/ten/ten_question/six/*.exe
/ten/ten_question/seven/*.exe
/ten/ten_question/extra1/*.exe